services:
  backend:
    build: ./backend
    ports:
      - "3005:3005"
    environment:
      - PORT=3005
      - NODE_ENV=development
      - AWS_REGION=eu-west-2
      - S3_BUCKET=securecloud-dev-files-519228350144
      - DYNAMODB_TABLE_METADATA=securecloud-dev-file-metadata
      - DYNAMODB_TABLE_AUDIT=securecloud-dev-audit-logs
      - DYNAMODB_TABLE_SHARES=securecloud-dev-file-shares
      - COGNITO_USER_POOL_ID=eu-west-2_jkzpsJBkI
      - COGNITO_CLIENT_ID=4757ec0jpnnl7sc59p5r7u3vjs
      - KMS_KEY_ID=8f57cd6d-a9eb-4203-8ab3-cec323e56bdb
    volumes:
      - ./backend/src:/app/src
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - REACT_APP_AWS_REGION=eu-west-2
        - REACT_APP_API_URL=http://localhost:3005
        - REACT_APP_COGNITO_USER_POOL_ID=eu-west-2_jkzpsJBkI
        - REACT_APP_COGNITO_CLIENT_ID=4757ec0jpnnl7sc59p5r7u3vjs
    ports:
      - "3006:3006"
    environment:
      - PORT=3006
      - REACT_APP_AWS_REGION=eu-west-2
      - REACT_APP_API_URL=http://localhost:3005
      - REACT_APP_COGNITO_USER_POOL_ID=eu-west-2_jkzpsJBkI
      - REACT_APP_COGNITO_CLIENT_ID=4757ec0jpnnl7sc59p5r7u3vjs
    volumes:
      - ./frontend/src:/app/src
    restart: unless-stopped
    depends_on:
      - backend
